body{
	margin: 0;
	font-family: Roboto Condensed, Helvetica, sans-serif;
	background-color: white;
	font-size: 20px
	line-height: 30px;
}


header{
	background-color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: .5px;
}

header h1{
	padding-top: 20px;
	padding-bottom: 20px;
	color: #2f3e57;
	font-family: 'Share Tech Mono', monospace;
	font-size: 50px;

}

h2{
	text-align: center;
	font-size: 30px;
	color: #2f3e57;
}

p{
	font-size: 20px;
}


footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	background-color: #343A40;
	text-align: center;
	color: white;
	padding: 12px;
}
footer p{
	margin: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
}

img:hover {
	transform: scale(1.1);
	animation
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }

  .navbar, .navbar-inverse, .sticky-top{
	position: fixed;
    width: 100%;
	top: 0;
  }